<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.may-june-july.listworkflows</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0FA969D7-A42B-4EAB-90D5-B2367188ACCA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56DBD143-529E-4EBF-BA60-E70306D60A4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>26A8E42D-D23F-48C5-83B0-3955A4B86842</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>80325719-AE82-45CC-BDBC-597D090038A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>14E0F996-2264-4F9C-B49A-8B78AF395DC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5EC13276-3F66-4CF8-BCA6-C72F2F7D1FBC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2F6D1BEC-5076-4BAE-B299-2A73AF63D5C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9AE0290F-3CE2-4416-828C-DF2D3FDD9AF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>470396EF-1C4E-426D-92B9-B874C19CD98C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5EC13276-3F66-4CF8-BCA6-C72F2F7D1FBC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A601980-D1E2-4A2F-9A05-2FAD9C9226C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5EC13276-3F66-4CF8-BCA6-C72F2F7D1FBC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5BCAAE28-06FA-4BA7-9570-A30D3EED7FCC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45C0E52D-1030-451F-93AB-01227150D2F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5EC13276-3F66-4CF8-BCA6-C72F2F7D1FBC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FA969D7-A42B-4EAB-90D5-B2367188ACCA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67057B88-7984-4DB3-9F2D-FB18C64FA8D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB73B891-AB2D-4D82-9A33-2BF2A560DE3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9424C880-E3D9-4724-AB50-1B098DBDF2C7</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>834B6C5A-BAF6-43D1-93AF-75D9AC3CBF76</string>
				<key>modifiers</key>
				<integer>1179648</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9E5B61FB-4400-4257-A205-F3515DBDFE14</string>
				<key>modifiers</key>
				<integer>1703936</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4A601980-D1E2-4A2F-9A05-2FAD9C9226C5</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>14E0F996-2264-4F9C-B49A-8B78AF395DC1</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2F6D1BEC-5076-4BAE-B299-2A73AF63D5C8</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>470396EF-1C4E-426D-92B9-B874C19CD98C</string>
				<key>modifiers</key>
				<integer>786432</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5BCAAE28-06FA-4BA7-9570-A30D3EED7FCC</string>
				<key>modifiers</key>
				<integer>393216</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>834B6C5A-BAF6-43D1-93AF-75D9AC3CBF76</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B72B274-89C1-43EF-8EB3-40ECFAD25D75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9424C880-E3D9-4724-AB50-1B098DBDF2C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D519836-B5A1-42C9-A882-D909C013868B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98673EE6-6FB8-4804-BFAD-379CE4C215DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B72B274-89C1-43EF-8EB3-40ECFAD25D75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9AE0290F-3CE2-4416-828C-DF2D3FDD9AF3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9424C880-E3D9-4724-AB50-1B098DBDF2C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7D944EBC-80EF-4B4B-842B-D23C61B52C93</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>98673EE6-6FB8-4804-BFAD-379CE4C215DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4BA74EDC-FD2B-4AB3-8F4E-01A16AF526D3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>834B6C5A-BAF6-43D1-93AF-75D9AC3CBF76</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3987074C-7C37-47D0-BAE5-BDCA62D9538C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9E5B61FB-4400-4257-A205-F3515DBDFE14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C439E885-FE06-4791-9986-7771F76275BD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4A601980-D1E2-4A2F-9A05-2FAD9C9226C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F8639907-FC84-4689-8AF2-09F700B9B057</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>14E0F996-2264-4F9C-B49A-8B78AF395DC1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7BC72369-2D01-4D2C-A7C8-3F2BD765246D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>470396EF-1C4E-426D-92B9-B874C19CD98C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2B4A3F8E-5524-40AD-8C25-E6EAB3A4506C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5BCAAE28-06FA-4BA7-9570-A30D3EED7FCC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F894DE3C-7655-4195-808E-6FB279BCCB58</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F870BAB8-3592-4C2C-BD9E-091E744514DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D7A594C6-287A-4814-B611-42E810CAB8BF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E5B61FB-4400-4257-A205-F3515DBDFE14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B72B274-89C1-43EF-8EB3-40ECFAD25D75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB73B891-AB2D-4D82-9A33-2BF2A560DE3B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FF056C7-593A-4065-AB71-9E62F3DF8DD6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F870BAB8-3592-4C2C-BD9E-091E744514DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB68BAB8-C7F7-44C0-94D9-495CCFEF05D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>May June July</string>
	<key>description</key>
	<string>Find all your installed workflows</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Workflow Finder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  var workflowID = argv[0];
  var alfred = Application("com.runningwithcrayons.Alfred");
  alfred.revealWorkflow(workflowID);
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3FF056C7-593A-4065-AB71-9E62F3DF8DD6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>3</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:search_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading workflows…</string>
				<key>script</key>
				<string>#!/usr/bin/swift

import Foundation

// MARK: - Helpers

extension FileManager {
    func isDirectory(atPath path: String) -&gt; Bool {
        var isDir: ObjCBool = false
        let exists = fileExists(atPath: path, isDirectory: &amp;isDir)
        return exists &amp;&amp; isDir.boolValue
    }
}

struct Environment {
    static let env = ProcessInfo.processInfo.environment
    static let alfredPreferences = env["alfred_preferences"]!
    static let workflowCacheFolder = env["alfred_workflow_cache"]!
    static let workflowDataFolder = env["alfred_workflow_data"]!
    static let alfredVersion = env["alfred_version"]!
    static let alfredVersionBuild = env["alfred_version_build"]!
    static let onlyShowEnabled = (env["only_show_enabled"] ?? "0") == "1"
    static let excludedCategories = (env["excluded_categories"] ?? "")
    .components(separatedBy: .newlines)
    .map { $0.trimmingCharacters(in: .whitespacesAndNewlines) }
    .filter { !$0.isEmpty }
}

func getMacOSVersion() -&gt; String {
    let os = ProcessInfo.processInfo.operatingSystemVersion
    return "\(os.majorVersion).\(os.minorVersion).\(os.patchVersion)"
}

struct WorkflowHistory: Codable {
    struct Preferences: Codable {
        let workflows: [String]
    }
    let preferences: Preferences
}

// MARK: - Main

let fileManager = FileManager.default
let workflowsDir = URL(fileURLWithPath: Environment.alfredPreferences).appendingPathComponent("workflows")

// Get list of workflow directories (those that contain an info.plist)
guard let workflowDirs = try? fileManager.contentsOfDirectory(at: workflowsDir,
                                                                includingPropertiesForKeys: nil,
                                                                options: .skipsHiddenFiles)
else {
    print("{\"items\": [{\"title\": \"Error\", \"subtitle\": \"Could not read workflows directory.\"}]}")
    exit(0)
}

var enabledItems = [[String: Any]]()
var disabledItems = [[String: Any]]()

for workflowDir in workflowDirs {
    let plistPath = workflowDir.appendingPathComponent("info.plist")
    guard fileManager.fileExists(atPath: plistPath.path) else { continue }
    
    // Read the plist as a dictionary via PropertyListSerialization
    guard let plistData = try? Data(contentsOf: plistPath),
          let plistObj = try? PropertyListSerialization.propertyList(from: plistData, options: [], format: nil),
          let plist = plistObj as? [String: Any]
    else { continue }
    
    // Determine if workflow is enabled.
    // (Ruby: enabled = (plist['disabled'] == false))
    let enabled = (plist["disabled"] as? Bool) == false
    // If only-show-enabled is set, skip disabled workflows.
    if Environment.onlyShowEnabled &amp;&amp; !enabled {
        continue
    }

    let categoryRaw = plist["category"] as? String ?? ""
    // If the workflow is in an excluded category, skip it.
    if Environment.excludedCategories.contains(categoryRaw) {
        continue
    }
    
    // Extract other basic workflow information.
    let name = plist["name"] as? String ?? "Unknown"
    let desc = plist["description"] as? String ?? ""
    let category = categoryRaw.isEmpty ? "" : "🧷 \(categoryRaw)"
    let versionRaw = plist["version"] as? String ?? ""
    let version = versionRaw.isEmpty ? "" : "v\(versionRaw)"
    let bundleid = plist["bundleid"] as? String ?? ""
    let createdbyRaw = plist["createdby"] as? String ?? ""
    let createdby = createdbyRaw.isEmpty ? "" : "by 👤\(createdbyRaw)"
    
    // Build subtitle (combine creator and description, or fallback).
    var subtitleParts = [String]()
    if !createdby.isEmpty { subtitleParts.append(createdby) }
    if !category.isEmpty { subtitleParts.append(category) }
    if !desc.isEmpty { subtitleParts.append(desc) }
    let subtitle = subtitleParts.isEmpty ? "No author, category or description" : subtitleParts.joined(separator: "・")
    
    // Build title – add a warning symbol if disabled, and include version if available.
    var titleParts = [String]()
    if enabled {
        titleParts.append(name)
    } else {
        titleParts.append("🚫 \(name)")
    }
    if !version.isEmpty { titleParts.append(version) }
    let title = titleParts.joined(separator: "・")
    
    // Determine workflow folder path and folder name.
    let workflowFolderPath = workflowDir.path
    let folderName = workflowDir.lastPathComponent
    
    // --- Build the secondary menu (shown via the alt modifier) ---
    var secondaryMenuItems = [[String: Any]]()
    
    // 1. Open Configuration
    secondaryMenuItems.append([
        "title": "Open Configuration",
        "subtitle": "Open configuration of ‘\(name)’ in Alfred Preferences.",
        "variables": ["chosen_action": "Open Configuration"],
        "icon": ["path": "icons/Alfred Preferences.png"],
        "arg": folderName
    ])
    
    // 2. Copy Bundle Id
    if bundleid.isEmpty {
        secondaryMenuItems.append([
            "title": "Copy Bundle Id",
            "subtitle": "No Bundle Id",
            "valid": false,
            "icon": ["path": "icons/copy.png"]
        ])
    } else {
        secondaryMenuItems.append([
            "title": "Copy Bundle Id",
            "subtitle": "Copy Bundle Id for ‘\(name)’: \(bundleid)",
            "arg": bundleid,
            "variables": ["chosen_action": "Copy Bundle Id"],
            "icon": ["path": "icons/copy.png"]
        ])
    }

    // 3. Copy workflow name
    secondaryMenuItems.append([
        "title": "Copy Workflow Name",
        "subtitle": "Copy workflow name ‘\(name)’",
        "arg": name,
        "variables": ["chosen_action": "Copy Workflow Name"],
        "icon": ["path": "icons/copy.png"]
    ])
    
    // 4. Copy workflow info (includes macOS and Alfred version)
    let macVersion = getMacOSVersion()
    let infoArg = "\(name)・\(version.isEmpty ? "version empty" : version), bundle ID: \(bundleid.isEmpty ? "no bundle Id" : bundleid) . Alfred version: \(Environment.alfredVersion) \(Environment.alfredVersionBuild). macOS: \(macVersion)."
    secondaryMenuItems.append([
        "title": "Copy Information for Workflow",
        "subtitle": "Copy workflow info for ‘\(name)’. Name, version, bundle Id, macOS and Alfred version included.",
        "arg": infoArg,
        "variables": ["chosen_action": "Copy Information for Workflow"],
        "icon": ["path": "icons/copy.png"]
    ])
    
    // 5. Show Workflow Folder
    secondaryMenuItems.append([
        "title": "Show Workflow Folder",
        "subtitle": "Show workflow folder of ‘\(name)’ in Finder",
        "arg": workflowFolderPath,
        "variables": ["chosen_action": "Show Workflow Folder"],
        "icon": ["path": "icons/finder.png"]
    ])
    
    // 6. Data Folder – use the directory part of alfred_workflow_data
    let workflowDataFolder = URL(fileURLWithPath: Environment.workflowDataFolder)
        .deletingLastPathComponent()
        .appendingPathComponent(bundleid).path
    var dataFolderMod: [String: Any] = [:]
    if !bundleid.isEmpty &amp;&amp; fileManager.isDirectory(atPath: workflowDataFolder) {
        dataFolderMod = ["subtitle": "Data folder", "arg": workflowDataFolder]
        secondaryMenuItems.append([
            "title": "Show Data Folder",
            "subtitle": "Show data folder of ‘\(name)’ in Finder",
            "arg": workflowDataFolder,
            "variables": ["chosen_action": "Show Data Folder"],
            "icon": ["path": "icons/finder.png"]
        ])
    } else {
        dataFolderMod = ["subtitle": "No data folder found", "valid": false]
        secondaryMenuItems.append([
            "title": "No Data folder Found",
            "subtitle": "No data folder found for workflow ‘\(name)’.",
            "valid": false,
            "icon": ["path": "icons/Empty.png"]
        ])
    }
    
    // 7. Cache Folder – use the directory part of alfred_workflow_cache
    let workflowCacheFolder = URL(fileURLWithPath: Environment.workflowCacheFolder)
        .deletingLastPathComponent()
        .appendingPathComponent(bundleid).path
    var cacheFolderMod: [String: Any] = [:]
    if !bundleid.isEmpty &amp;&amp; fileManager.isDirectory(atPath: workflowCacheFolder) {
        cacheFolderMod = ["subtitle": "Cache folder", "arg": workflowCacheFolder]
        secondaryMenuItems.append([
            "title": "Show Cache Folder",
            "subtitle": "Show cache folder of ‘\(name)’ in Finder",
            "arg": workflowCacheFolder,
            "variables": ["chosen_action": "Show Cache Folder"],
            "icon": ["path": "icons/finder.png"]
        ])
    } else {
        cacheFolderMod = ["subtitle": "No cache folder found", "valid": false]
        secondaryMenuItems.append([
            "title": "No cache folder Found",
            "subtitle": "No cache folder found for workflow ‘\(name)’.",
            "valid": false,
            "icon": ["path": "icons/Empty.png"]
        ])
    }
    
    // 8. Trash Workflow
    secondaryMenuItems.append([
        "title": "Trash Workflow",
        "subtitle": "Trash workflow ‘\(name)’. Can be undone from the Trash.",
        "arg": workflowFolderPath,
        "variables": ["chosen_action": "Trash Workflow"],
        "icon": ["path": "icons/trash.png"]
    ])
    
    // 9. Export Workflow
    secondaryMenuItems.append([
        "title": "Export Workflow",
        "subtitle": "Export as ‘\(name).alfredworkflow’ to your Desktop",
        "arg": workflowFolderPath,
        "variables": ["chosen_action": "Export Workflow"],
        "icon": ["path": "icons/alfred_workflow.png"]
    ])
    
    // Build the secondary menu JSON (to be passed via the alt modifier)
    let secondaryMenuJson: [String: Any] = ["items": secondaryMenuItems]
    let secondaryMenuJsonData = try? JSONSerialization.data(withJSONObject: secondaryMenuJson, options: [])
    let secondaryMenuJsonString = secondaryMenuJsonData.flatMap { String(data: $0, encoding: .utf8) } ?? ""
    
    // --- Build the main modifiers dictionary ---
    var mods = [String: [String: Any]]()
    mods["cmd"] = ["subtitle": "Open configuration"]
    if bundleid.isEmpty {
        mods["shift+cmd"] = ["subtitle": "No Bundle Id", "valid": false]
    } else {
        mods["shift+cmd"] = ["subtitle": "Copy Bundle Id: \(bundleid)", "arg": bundleid]
    }
    mods["shift+cmd+alt"] = ["subtitle": "Copy workflow info", "arg": infoArg]
    mods["shift"] = ["subtitle": "Workflow folder", "arg": workflowFolderPath]
    mods["ctrl"] = dataFolderMod
    mods["alt+ctrl"] = cacheFolderMod
    mods["shift+ctrl"] = ["subtitle": "Trash workflow", "arg": workflowFolderPath]
    mods["alt"] = ["subtitle": "Show All Actions",
                   "variables": ["script_filter_res": secondaryMenuJsonString],
                   "arg": ""]
    
    // Determine the main icon (use icon.png if it exists, otherwise fallback)
    let iconPathCandidate = workflowDir.appendingPathComponent("icon.png").path
    let mainIconPath = fileManager.fileExists(atPath: iconPathCandidate) ? iconPathCandidate : "icons/Empty.png"
    let iconDict = ["path": mainIconPath]
    
    // Build the main item
    let item: [String: Any] = [
        "title": title,
        "subtitle": subtitle.isEmpty ? "No description or version" : subtitle,
        "mods": mods,
        "action": [String: Any](),  // empty action object
        "arg": folderName,
        "icon": iconDict,
        "match": "\(desc) \(createdby) \(name)"
    ]
    
    if enabled {
        enabledItems.append(item)
    } else {
        disabledItems.append(item)
    }
}

// Concatenate enabled and disabled items (keeping their order)
var allItems = enabledItems + disabledItems

// Prioritize recently edited workflows
let historyFile = URL(fileURLWithPath: ("~/Library/Application Support/Alfred/history.json" as NSString).expandingTildeInPath)
let historyUIDs: [String] = {
    guard let data = try? Data(contentsOf: historyFile),
          let history = try? JSONDecoder().decode(WorkflowHistory.self, from: data)
    else { return [] }
    return history.preferences.workflows
}()

var historyItems = [[String: Any]]()
var nonHistoryItems = [[String: Any]]()
for item in allItems {
    guard let uid = item["arg"] as? String else { continue }
    historyUIDs.contains(uid) ? historyItems.append(item) : nonHistoryItems.append(item)
}

historyItems.sort { item1, item2 in
    let uid1 = item1["arg"] as! String
    let uid2 = item2["arg"] as! String
    return historyUIDs.firstIndex(of: uid1)! &lt; historyUIDs.firstIndex(of: uid2)!
}

let sortedAllItems = historyItems + nonHistoryItems

// Output the final JSON
let output: [String: Any] = ["items": sortedAllItems]
if let jsonData = try? JSONSerialization.data(withJSONObject: output, options: []),
   let jsonString = String(data: jsonData, encoding: .utf8) {
    print(jsonString)
} else {
    print("{\"items\": []}")
}
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>{const:alfred_workflow_description}</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>10</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>67057B88-7984-4DB3-9F2D-FB18C64FA8D1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>DB73B891-AB2D-4D82-9A33-2BF2A560DE3B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  var workflowID = argv[0];
  var alfred = Application("com.runningwithcrayons.Alfred");
  alfred.revealWorkflow(workflowID, { configuration: true });
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1D519836-B5A1-42C9-A882-D909C013868B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>9424C880-E3D9-4724-AB50-1B098DBDF2C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>98673EE6-6FB8-4804-BFAD-379CE4C215DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9B72B274-89C1-43EF-8EB3-40ECFAD25D75</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>834B6C5A-BAF6-43D1-93AF-75D9AC3CBF76</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>9E5B61FB-4400-4257-A205-F3515DBDFE14</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>jumpto</key>
				<string>_popUpItemAction:</string>
				<key>path</key>
				<string></string>
				<key>type</key>
				<integer>100</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.actioninalfred</string>
			<key>uid</key>
			<string>56DBD143-529E-4EBF-BA60-E70306D60A4E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>4A601980-D1E2-4A2F-9A05-2FAD9C9226C5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:chosen_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Open Configuration</string>
						<key>outputlabel</key>
						<string>Open Configuration</string>
						<key>uid</key>
						<string>7D944EBC-80EF-4B4B-842B-D23C61B52C93</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:chosen_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Copy Workflow Name</string>
						<key>outputlabel</key>
						<string>Copy Workflow Name</string>
						<key>uid</key>
						<string>4BA74EDC-FD2B-4AB3-8F4E-01A16AF526D3</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:chosen_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Copy Bundle Id</string>
						<key>outputlabel</key>
						<string>Copy Bundle Id</string>
						<key>uid</key>
						<string>3987074C-7C37-47D0-BAE5-BDCA62D9538C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:chosen_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Copy Information for Workflow</string>
						<key>outputlabel</key>
						<string>Copy Information for Workflow</string>
						<key>uid</key>
						<string>C439E885-FE06-4791-9986-7771F76275BD</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:chosen_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Show Workflow Folder</string>
						<key>outputlabel</key>
						<string>Show Workflow Folder</string>
						<key>uid</key>
						<string>F8639907-FC84-4689-8AF2-09F700B9B057</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:chosen_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Show Data Folder</string>
						<key>outputlabel</key>
						<string>Show Data Folder</string>
						<key>uid</key>
						<string>7BC72369-2D01-4D2C-A7C8-3F2BD765246D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:chosen_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Show Cache Folder</string>
						<key>outputlabel</key>
						<string>Show Cache Folder</string>
						<key>uid</key>
						<string>2B4A3F8E-5524-40AD-8C25-E6EAB3A4506C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:chosen_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Trash Workflow</string>
						<key>outputlabel</key>
						<string>Trash Workflow</string>
						<key>uid</key>
						<string>F894DE3C-7655-4195-808E-6FB279BCCB58</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:chosen_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Export Workflow</string>
						<key>outputlabel</key>
						<string>Export Workflow</string>
						<key>uid</key>
						<string>D7A594C6-287A-4814-B611-42E810CAB8BF</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>9AE0290F-3CE2-4416-828C-DF2D3FDD9AF3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:folder_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Actions in Alfred</string>
						<key>outputlabel</key>
						<string>Actions in Alfred</string>
						<key>uid</key>
						<string>26A8E42D-D23F-48C5-83B0-3955A4B86842</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Open in Finder</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>0FA969D7-A42B-4EAB-90D5-B2367188ACCA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>5EC13276-3F66-4CF8-BCA6-C72F2F7D1FBC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>14E0F996-2264-4F9C-B49A-8B78AF395DC1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>80325719-AE82-45CC-BDBC-597D090038A0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>echo $script_filter_res</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2F6D1BEC-5076-4BAE-B299-2A73AF63D5C8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>470396EF-1C4E-426D-92B9-B874C19CD98C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.trash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>45C0E52D-1030-451F-93AB-01227150D2F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>5BCAAE28-06FA-4BA7-9570-A30D3EED7FCC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>export_workflow</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BB68BAB8-C7F7-44C0-94D9-495CCFEF05D0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>F870BAB8-3592-4C2C-BD9E-091E744514DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Workflow Finder Alfred Workflow

Finds all your installed workflows and perform actions on them.

![](images/showcase_1.png) 

If you want a workflow to find workflows from the [Alfred Gallery](https://alfred.app/), you should use [Alfred Gallery](https://alfred.app/workflows/alfredapp/alfred-gallery/) instead.

## Usage
- Search for workflows via the keyword `wflow` (configurable from [configuration](https://www.alfredapp.com/help/workflows/user-configuration/) pane).

- You can also search for workflows whose description contains the keyword or search for workflows by author.

![](images/showcase_2.png)

- &lt;kbd&gt;↩&amp;#xFE0E;&lt;/kbd&gt; to edit the selected workflow. 
- &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&amp;#xFE0E;&lt;/kbd&gt; to open the configuration window for the workflow. 
- &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;↩&amp;#xFE0E;&lt;/kbd&gt; to copy the bundle ID for the workflow.
- &lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;↩&amp;#xFE0E;&lt;/kbd&gt; to pass the workflow folder for the workflow to [File Action](https://www.alfredapp.com/blog/tips-and-tricks/file-actions-from-alfred-or-finder/).
- &lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;↩&amp;#xFE0E;&lt;/kbd&gt; to pass the data folder for the workflow to File Action.
- &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;↩&amp;#xFE0E;&lt;/kbd&gt; to pass the cache folder for the workflow to File Action.
- &lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;↩&amp;#xFE0E;&lt;/kbd&gt; to trash the workflow (can be undone in the Trash).
- &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&amp;#xFE0E;&lt;/kbd&gt; to copy the title, bundle ID, version etc. for the workflow.

- &lt;kbd&gt;⌥&lt;/kbd&gt; to show all actions above for the selected workflow — including export the workflow to an `.alfredworkflow` file. 

![](images/showcase_3.png)


The copied info will contain title, bundle ID, version of the workflow (not this workflow), Alfred version, macOS version. Good for asking help about a workflow on the [Alfred Forum](https://www.alfredforum.com/forum/1-alfred-workflows/).

Info for this workflow:

`Workflow Finder・v0.1, bundle ID: com.may-june-july.listworkflows . Alfred version: 5.5.1 2273. macOS: 15.3.1.`</string>
	<key>uidata</key>
	<dict>
		<key>0FA969D7-A42B-4EAB-90D5-B2367188ACCA</key>
		<dict>
			<key>xpos</key>
			<real>1300</real>
			<key>ypos</key>
			<real>585</real>
		</dict>
		<key>14E0F996-2264-4F9C-B49A-8B78AF395DC1</key>
		<dict>
			<key>note</key>
			<string>Show Data Folder</string>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>1D519836-B5A1-42C9-A882-D909C013868B</key>
		<dict>
			<key>xpos</key>
			<real>1205</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>2F6D1BEC-5076-4BAE-B299-2A73AF63D5C8</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>655</real>
		</dict>
		<key>3FF056C7-593A-4065-AB71-9E62F3DF8DD6</key>
		<dict>
			<key>xpos</key>
			<real>1375</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>45C0E52D-1030-451F-93AB-01227150D2F8</key>
		<dict>
			<key>xpos</key>
			<real>1200</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>470396EF-1C4E-426D-92B9-B874C19CD98C</key>
		<dict>
			<key>note</key>
			<string>Show Cache Folder</string>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>665</real>
		</dict>
		<key>4A601980-D1E2-4A2F-9A05-2FAD9C9226C5</key>
		<dict>
			<key>note</key>
			<string>Show Workflow Folder</string>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>56DBD143-529E-4EBF-BA60-E70306D60A4E</key>
		<dict>
			<key>xpos</key>
			<real>1500</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>5BCAAE28-06FA-4BA7-9570-A30D3EED7FCC</key>
		<dict>
			<key>note</key>
			<string>Trash Workflow</string>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>735</real>
		</dict>
		<key>5EC13276-3F66-4CF8-BCA6-C72F2F7D1FBC</key>
		<dict>
			<key>xpos</key>
			<real>1195</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>67057B88-7984-4DB3-9F2D-FB18C64FA8D1</key>
		<dict>
			<key>xpos</key>
			<real>145</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>80325719-AE82-45CC-BDBC-597D090038A0</key>
		<dict>
			<key>xpos</key>
			<real>1500</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>834B6C5A-BAF6-43D1-93AF-75D9AC3CBF76</key>
		<dict>
			<key>note</key>
			<string>Copy Bundle Id</string>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>9424C880-E3D9-4724-AB50-1B098DBDF2C7</key>
		<dict>
			<key>note</key>
			<string>Open Configuration</string>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>98673EE6-6FB8-4804-BFAD-379CE4C215DA</key>
		<dict>
			<key>note</key>
			<string>Copy Workflow Name</string>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>9AE0290F-3CE2-4416-828C-DF2D3FDD9AF3</key>
		<dict>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>9B72B274-89C1-43EF-8EB3-40ECFAD25D75</key>
		<dict>
			<key>xpos</key>
			<real>1200</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>9E5B61FB-4400-4257-A205-F3515DBDFE14</key>
		<dict>
			<key>note</key>
			<string>Copy Information for Workflow</string>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>BB68BAB8-C7F7-44C0-94D9-495CCFEF05D0</key>
		<dict>
			<key>note</key>
			<string>https://www.alfredforum.com/topic/9873-how-to-package-workflows-via-the-command-line/</string>
			<key>xpos</key>
			<real>1350</real>
			<key>ypos</key>
			<real>775</real>
		</dict>
		<key>DB73B891-AB2D-4D82-9A33-2BF2A560DE3B</key>
		<dict>
			<key>note</key>
			<string>Edit workflow in Alfred</string>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
		<key>F870BAB8-3592-4C2C-BD9E-091E744514DD</key>
		<dict>
			<key>note</key>
			<string>Export Workflow</string>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>805</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>wflow</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Search Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>search_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Only show enabled workflows</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>only_show_enabled</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Open in Finder</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Open in Finder</string>
						<string>Open in Finder</string>
					</array>
					<array>
						<string>Actions in Alfred</string>
						<string>Actions in Alfred</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Choose whether to open the workflow (data, cache) folder in Finder or to pass it to Alfred</string>
			<key>label</key>
			<string>Folder Action</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>folder_action</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>3</integer>
			</dict>
			<key>description</key>
			<string>Categories to exclude from results. One line per category.</string>
			<key>label</key>
			<string>Exclude Category</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>excluded_categories</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/April-June-August/Workflow-Finder/</string>
</dict>
</plist>
