<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.may-june-july.WorkflowFinder</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>0FA969D7-A42B-4EAB-90D5-B2367188ACCA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56DBD143-529E-4EBF-BA60-E70306D60A4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>26A8E42D-D23F-48C5-83B0-3955A4B86842</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>80325719-AE82-45CC-BDBC-597D090038A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4B3B7ADE-ED06-4180-8924-FBF8CABC9103</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>20B58494-0D6D-4A7B-894C-46AB01D784CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>14E0F996-2264-4F9C-B49A-8B78AF395DC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5EC13276-3F66-4CF8-BCA6-C72F2F7D1FBC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2F6D1BEC-5076-4BAE-B299-2A73AF63D5C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9AE0290F-3CE2-4416-828C-DF2D3FDD9AF3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>470396EF-1C4E-426D-92B9-B874C19CD98C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5EC13276-3F66-4CF8-BCA6-C72F2F7D1FBC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4A601980-D1E2-4A2F-9A05-2FAD9C9226C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5EC13276-3F66-4CF8-BCA6-C72F2F7D1FBC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5BCAAE28-06FA-4BA7-9570-A30D3EED7FCC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45C0E52D-1030-451F-93AB-01227150D2F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5EC13276-3F66-4CF8-BCA6-C72F2F7D1FBC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FA969D7-A42B-4EAB-90D5-B2367188ACCA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>67057B88-7984-4DB3-9F2D-FB18C64FA8D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB73B891-AB2D-4D82-9A33-2BF2A560DE3B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9424C880-E3D9-4724-AB50-1B098DBDF2C7</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>834B6C5A-BAF6-43D1-93AF-75D9AC3CBF76</string>
				<key>modifiers</key>
				<integer>1179648</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9E5B61FB-4400-4257-A205-F3515DBDFE14</string>
				<key>modifiers</key>
				<integer>1703936</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4A601980-D1E2-4A2F-9A05-2FAD9C9226C5</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>14E0F996-2264-4F9C-B49A-8B78AF395DC1</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2F6D1BEC-5076-4BAE-B299-2A73AF63D5C8</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>470396EF-1C4E-426D-92B9-B874C19CD98C</string>
				<key>modifiers</key>
				<integer>786432</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5BCAAE28-06FA-4BA7-9570-A30D3EED7FCC</string>
				<key>modifiers</key>
				<integer>393216</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>834B6C5A-BAF6-43D1-93AF-75D9AC3CBF76</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B72B274-89C1-43EF-8EB3-40ECFAD25D75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9424C880-E3D9-4724-AB50-1B098DBDF2C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D519836-B5A1-42C9-A882-D909C013868B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>98673EE6-6FB8-4804-BFAD-379CE4C215DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B72B274-89C1-43EF-8EB3-40ECFAD25D75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9AE0290F-3CE2-4416-828C-DF2D3FDD9AF3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9424C880-E3D9-4724-AB50-1B098DBDF2C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7D944EBC-80EF-4B4B-842B-D23C61B52C93</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>98673EE6-6FB8-4804-BFAD-379CE4C215DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4BA74EDC-FD2B-4AB3-8F4E-01A16AF526D3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>834B6C5A-BAF6-43D1-93AF-75D9AC3CBF76</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>3987074C-7C37-47D0-BAE5-BDCA62D9538C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9E5B61FB-4400-4257-A205-F3515DBDFE14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C439E885-FE06-4791-9986-7771F76275BD</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4A601980-D1E2-4A2F-9A05-2FAD9C9226C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F8639907-FC84-4689-8AF2-09F700B9B057</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>14E0F996-2264-4F9C-B49A-8B78AF395DC1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7BC72369-2D01-4D2C-A7C8-3F2BD765246D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>470396EF-1C4E-426D-92B9-B874C19CD98C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2B4A3F8E-5524-40AD-8C25-E6EAB3A4506C</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5BCAAE28-06FA-4BA7-9570-A30D3EED7FCC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F894DE3C-7655-4195-808E-6FB279BCCB58</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F870BAB8-3592-4C2C-BD9E-091E744514DD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D7A594C6-287A-4814-B611-42E810CAB8BF</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E5B61FB-4400-4257-A205-F3515DBDFE14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B72B274-89C1-43EF-8EB3-40ECFAD25D75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB68BAB8-C7F7-44C0-94D9-495CCFEF05D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EE60A7B3-2E84-4ED1-A60B-06A482833B2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB73B891-AB2D-4D82-9A33-2BF2A560DE3B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FF056C7-593A-4065-AB71-9E62F3DF8DD6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EE60A7B3-2E84-4ED1-A60B-06A482833B2D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>56DBD143-529E-4EBF-BA60-E70306D60A4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>10519C85-2B1A-4FE5-9572-88AA12C8AD2D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>20B58494-0D6D-4A7B-894C-46AB01D784CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E05DECAC-891B-4680-9F10-58A8BA4CA9E8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F870BAB8-3592-4C2C-BD9E-091E744514DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB68BAB8-C7F7-44C0-94D9-495CCFEF05D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>May June July</string>
	<key>description</key>
	<string>Find all your installed workflows and perform actions on them.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Workflow Finder</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  var workflowID = argv[0];
  var alfred = Application("com.runningwithcrayons.Alfred");
  alfred.revealWorkflow(workflowID);
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3FF056C7-593A-4065-AB71-9E62F3DF8DD6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>3</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:search_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading workflows…</string>
				<key>script</key>
				<string>stale() {
    (( $(date -r "$1" +%s) &gt; $(date -r "$2" +%s) ))
}

if command -v xcrun &amp;&gt; /dev/null &amp;&amp; xcrun --find swiftc &amp;&gt; /dev/null; then
    if [[ -f ./list_workflow ]] &amp;&amp; ! $(stale ./list_workflow.swift ./list_workflow); then
        ./list_workflow
    else
		xcrun swiftc ./list_workflow.swift -o ./list_workflow &amp; # background compilation
		swift ./list_workflow.swift                             # immediate execution
    fi
else
    swift browser.swift "$1"  # fallback to direct execution (slow)
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>{const:alfred_workflow_description}</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>67057B88-7984-4DB3-9F2D-FB18C64FA8D1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>DB73B891-AB2D-4D82-9A33-2BF2A560DE3B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run(argv) {
  var workflowID = argv[0];
  var alfred = Application("com.runningwithcrayons.Alfred");
  alfred.revealWorkflow(workflowID, { configuration: true });
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1D519836-B5A1-42C9-A882-D909C013868B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>9424C880-E3D9-4724-AB50-1B098DBDF2C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>98673EE6-6FB8-4804-BFAD-379CE4C215DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9B72B274-89C1-43EF-8EB3-40ECFAD25D75</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>834B6C5A-BAF6-43D1-93AF-75D9AC3CBF76</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>9E5B61FB-4400-4257-A205-F3515DBDFE14</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>4A601980-D1E2-4A2F-9A05-2FAD9C9226C5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>jumpto</key>
				<string>_popUpItemAction:</string>
				<key>path</key>
				<string></string>
				<key>type</key>
				<integer>100</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.actioninalfred</string>
			<key>uid</key>
			<string>56DBD143-529E-4EBF-BA60-E70306D60A4E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>80325719-AE82-45CC-BDBC-597D090038A0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:chosen_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Open Configuration</string>
						<key>outputlabel</key>
						<string>Open Configuration</string>
						<key>uid</key>
						<string>7D944EBC-80EF-4B4B-842B-D23C61B52C93</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:chosen_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Copy Workflow Name</string>
						<key>outputlabel</key>
						<string>Copy Workflow Name</string>
						<key>uid</key>
						<string>4BA74EDC-FD2B-4AB3-8F4E-01A16AF526D3</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:chosen_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Copy Bundle Id</string>
						<key>outputlabel</key>
						<string>Copy Bundle Id</string>
						<key>uid</key>
						<string>3987074C-7C37-47D0-BAE5-BDCA62D9538C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:chosen_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Copy Information for Workflow</string>
						<key>outputlabel</key>
						<string>Copy Information for Workflow</string>
						<key>uid</key>
						<string>C439E885-FE06-4791-9986-7771F76275BD</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:chosen_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Show Workflow Folder</string>
						<key>outputlabel</key>
						<string>Show Workflow Folder</string>
						<key>uid</key>
						<string>F8639907-FC84-4689-8AF2-09F700B9B057</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:chosen_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Show Data Folder</string>
						<key>outputlabel</key>
						<string>Show Data Folder</string>
						<key>uid</key>
						<string>7BC72369-2D01-4D2C-A7C8-3F2BD765246D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:chosen_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Show Cache Folder</string>
						<key>outputlabel</key>
						<string>Show Cache Folder</string>
						<key>uid</key>
						<string>2B4A3F8E-5524-40AD-8C25-E6EAB3A4506C</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:chosen_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Trash Workflow</string>
						<key>outputlabel</key>
						<string>Trash Workflow</string>
						<key>uid</key>
						<string>F894DE3C-7655-4195-808E-6FB279BCCB58</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:chosen_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Export Workflow</string>
						<key>outputlabel</key>
						<string>Export Workflow</string>
						<key>uid</key>
						<string>D7A594C6-287A-4814-B611-42E810CAB8BF</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>9AE0290F-3CE2-4416-828C-DF2D3FDD9AF3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:folder_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Actions in Alfred</string>
						<key>outputlabel</key>
						<string>Actions in Alfred</string>
						<key>uid</key>
						<string>26A8E42D-D23F-48C5-83B0-3955A4B86842</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:folder_action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Open in Finder</string>
						<key>outputlabel</key>
						<string>Open in Finder</string>
						<key>uid</key>
						<string>4B3B7ADE-ED06-4180-8924-FBF8CABC9103</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Reveal in Finder</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>0FA969D7-A42B-4EAB-90D5-B2367188ACCA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>5EC13276-3F66-4CF8-BCA6-C72F2F7D1FBC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>20B58494-0D6D-4A7B-894C-46AB01D784CC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>14E0F996-2264-4F9C-B49A-8B78AF395DC1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading options…</string>
				<key>script</key>
				<string>echo $script_filter_res</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2F6D1BEC-5076-4BAE-B299-2A73AF63D5C8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>470396EF-1C4E-426D-92B9-B874C19CD98C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.trash</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>45C0E52D-1030-451F-93AB-01227150D2F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>5BCAAE28-06FA-4BA7-9570-A30D3EED7FCC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>export_workflow</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BB68BAB8-C7F7-44C0-94D9-495CCFEF05D0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action_on_exported_workflow}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Action in Alfred</string>
						<key>outputlabel</key>
						<string>Action in Alfred</string>
						<key>uid</key>
						<string>10519C85-2B1A-4FE5-9572-88AA12C8AD2D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action_on_exported_workflow}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Reveal in Finder</string>
						<key>outputlabel</key>
						<string>Reveal in Finder</string>
						<key>uid</key>
						<string>E05DECAC-891B-4680-9F10-58A8BA4CA9E8</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Nothing</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>EE60A7B3-2E84-4ED1-A60B-06A482833B2D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>F870BAB8-3592-4C2C-BD9E-091E744514DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Workflow Finder

Finds all your installed workflows and perform actions on them.

![](images/showcase_1.png) 

If you want a workflow to find workflows from the [Alfred Gallery](https://alfred.app/), you should use [Alfred Gallery](https://alfred.app/workflows/alfredapp/alfred-gallery/) instead.

## Usage
- Search for workflows via the keyword `wflow` (configurable from [configuration](https://www.alfredapp.com/help/workflows/user-configuration/) pane).

- You can also search for workflows whose description contains the keyword or search for workflows by author.

![](images/showcase_2.png)

- &lt;kbd&gt;↩&amp;#xFE0E;&lt;/kbd&gt; to edit the selected workflow. 
- &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&amp;#xFE0E;&lt;/kbd&gt; to open the configuration window for the workflow. 
- &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;↩&amp;#xFE0E;&lt;/kbd&gt; to copy the bundle ID for the workflow.
- &lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;↩&amp;#xFE0E;&lt;/kbd&gt; to pass the workflow folder for the workflow to [File Action](https://www.alfredapp.com/blog/tips-and-tricks/file-actions-from-alfred-or-finder/).
- &lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;↩&amp;#xFE0E;&lt;/kbd&gt; to pass the data folder for the workflow to File Action.
- &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;↩&amp;#xFE0E;&lt;/kbd&gt; to pass the cache folder for the workflow to File Action.
- &lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;⌃&lt;/kbd&gt;&lt;kbd&gt;↩&amp;#xFE0E;&lt;/kbd&gt; to trash the workflow (can be undone in the Trash).
- &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;⇧&lt;/kbd&gt;&lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&amp;#xFE0E;&lt;/kbd&gt; to copy the title, bundle ID, version etc. for the workflow.

- &lt;kbd&gt;⌥&lt;/kbd&gt; to show all actions above for the selected workflow — including export the workflow to an `.alfredworkflow` file. 

![](images/showcase_3.png)


The copied info will contain title, bundle ID, version of the workflow (not this workflow), Alfred version, macOS version. Good for asking help about a workflow on the [Alfred Forum](https://www.alfredforum.com/forum/1-alfred-workflows/).

Info for this workflow:

`Workflow Finder・v0.1, bundle ID: com.may-june-july.listworkflows . Alfred version: 5.5.1 2273. macOS: 15.3.1.`</string>
	<key>uidata</key>
	<dict>
		<key>0FA969D7-A42B-4EAB-90D5-B2367188ACCA</key>
		<dict>
			<key>xpos</key>
			<real>1305</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>14E0F996-2264-4F9C-B49A-8B78AF395DC1</key>
		<dict>
			<key>note</key>
			<string>Show Data Folder</string>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>1D519836-B5A1-42C9-A882-D909C013868B</key>
		<dict>
			<key>xpos</key>
			<real>1205</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>20B58494-0D6D-4A7B-894C-46AB01D784CC</key>
		<dict>
			<key>xpos</key>
			<real>1740</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>2F6D1BEC-5076-4BAE-B299-2A73AF63D5C8</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>655</real>
		</dict>
		<key>3FF056C7-593A-4065-AB71-9E62F3DF8DD6</key>
		<dict>
			<key>xpos</key>
			<real>1410</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>45C0E52D-1030-451F-93AB-01227150D2F8</key>
		<dict>
			<key>xpos</key>
			<real>1605</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>470396EF-1C4E-426D-92B9-B874C19CD98C</key>
		<dict>
			<key>note</key>
			<string>Show Cache Folder</string>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>665</real>
		</dict>
		<key>4A601980-D1E2-4A2F-9A05-2FAD9C9226C5</key>
		<dict>
			<key>note</key>
			<string>Show Workflow Folder</string>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>56DBD143-529E-4EBF-BA60-E70306D60A4E</key>
		<dict>
			<key>xpos</key>
			<real>1470</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>5BCAAE28-06FA-4BA7-9570-A30D3EED7FCC</key>
		<dict>
			<key>note</key>
			<string>Trash Workflow</string>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>735</real>
		</dict>
		<key>5EC13276-3F66-4CF8-BCA6-C72F2F7D1FBC</key>
		<dict>
			<key>xpos</key>
			<real>1195</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>67057B88-7984-4DB3-9F2D-FB18C64FA8D1</key>
		<dict>
			<key>xpos</key>
			<real>145</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>80325719-AE82-45CC-BDBC-597D090038A0</key>
		<dict>
			<key>xpos</key>
			<real>1605</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>834B6C5A-BAF6-43D1-93AF-75D9AC3CBF76</key>
		<dict>
			<key>note</key>
			<string>Copy Bundle Id</string>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>9424C880-E3D9-4724-AB50-1B098DBDF2C7</key>
		<dict>
			<key>note</key>
			<string>Open Configuration</string>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>98673EE6-6FB8-4804-BFAD-379CE4C215DA</key>
		<dict>
			<key>note</key>
			<string>Copy Workflow Name</string>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>9AE0290F-3CE2-4416-828C-DF2D3FDD9AF3</key>
		<dict>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>9B72B274-89C1-43EF-8EB3-40ECFAD25D75</key>
		<dict>
			<key>xpos</key>
			<real>1205</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>9E5B61FB-4400-4257-A205-F3515DBDFE14</key>
		<dict>
			<key>note</key>
			<string>Copy Information for Workflow</string>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>BB68BAB8-C7F7-44C0-94D9-495CCFEF05D0</key>
		<dict>
			<key>note</key>
			<string>https://www.alfredforum.com/topic/9873-how-to-package-workflows-via-the-command-line/</string>
			<key>xpos</key>
			<real>1155</real>
			<key>ypos</key>
			<real>775</real>
		</dict>
		<key>DB73B891-AB2D-4D82-9A33-2BF2A560DE3B</key>
		<dict>
			<key>note</key>
			<string>Edit workflow in Alfred</string>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
		<key>EE60A7B3-2E84-4ED1-A60B-06A482833B2D</key>
		<dict>
			<key>xpos</key>
			<real>1320</real>
			<key>ypos</key>
			<real>780</real>
		</dict>
		<key>F870BAB8-3592-4C2C-BD9E-091E744514DD</key>
		<dict>
			<key>note</key>
			<string>Export Workflow</string>
			<key>xpos</key>
			<real>990</real>
			<key>ypos</key>
			<real>805</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>wflow</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Search Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>search_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string></string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Only Show Enabled Workflows</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>only_show_enabled</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Open in Finder</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Open in Finder</string>
						<string>Open in Finder</string>
					</array>
					<array>
						<string>Actions in Alfred</string>
						<string>Actions in Alfred</string>
					</array>
					<array>
						<string>Reveal in Finder</string>
						<string>Reveal in Finder</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Choose to open or reveal the workflow/data/cache folder in Finder or to pass it to Alfred</string>
			<key>label</key>
			<string>Folder Action</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>folder_action</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>3</integer>
			</dict>
			<key>description</key>
			<string>Categories to exclude from results. One line per category.</string>
			<key>label</key>
			<string>Exclude Category</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>excluded_categories</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/Desktop</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>Choose a folder for the workflows to be exported to. Defaults to Desktop.</string>
			<key>label</key>
			<string>Export Workflows To</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>export_workflows_to</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Reveal in Finder</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Nothing</string>
						<string>Nothing</string>
					</array>
					<array>
						<string>Action in Alfred</string>
						<string>Action in Alfred</string>
					</array>
					<array>
						<string>Reveal in Finder</string>
						<string>Reveal in Finder</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>What to do with the exported workflow.</string>
			<key>label</key>
			<string>Action on Exported Workflow</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>action_on_exported_workflow</string>
		</dict>
	</array>
	<key>version</key>
	<string>2025.14</string>
	<key>webaddress</key>
	<string>https://github.com/April-June-August/Workflow-Finder</string>
</dict>
</plist>
